<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <!-- حذف تنظیمات پیش‌فرض -->
      <remove statusCode="400" />
      <remove statusCode="401" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <remove statusCode="502" />
      <remove statusCode="503" />
      
      <!-- تعریف صفحات خطای سفارشی -->
      <error statusCode="400" path="/errors/400.html" responseMode="ExecuteURL" />
      <error statusCode="401" path="/errors/401.html" responseMode="ExecuteURL" />
      <error statusCode="403" path="/errors/403.html" responseMode="ExecuteURL" />
      <error statusCode="404" path="/errors/404.html" responseMode="ExecuteURL" />
      <error statusCode="500" path="/errors/500.html" responseMode="ExecuteURL" />
      <error statusCode="502" path="/errors/502.html" responseMode="ExecuteURL" />
      <error statusCode="503" path="/errors/503.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>